body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    height: 2000px; /* para simular rolagem */
    background-color: #f0f0f0;
}

.container-posicionado {
    position: relative; /* Conteiner para posicionamento absoluto*/
    width: 400px;
    height: 200px;
    background-color: #e0e0e0;
    border: 2px dashed #999;
    margin-bottom: 30px;
    padding: 10px;
}

.box {
    width: 80px;
    height: 80px;
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid #388E3C;
    box-sizing: border-box;
}

.static-box {
    background-color: #2196F3;
    position: relative;
    top: 20px;
    left: 20px;
    margin-bottom: 20px; /*Ainda ocupa espaço original */
}

.absolute-box {
    background-color: #F44336;
    position: absolute;
    top: 50px;
    right: 10px;
    /* Posicionado em relação ao .container-posicionado*/
}

.fixed-box {
    background-color: #9c27b0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.sticky-box {
    background-color: #00bcd4;
    position: sticky;
    top: 0; /* Cola no topo quando o scroll atinge 0px do elemento */
    z-index: 900;
    padding: 10px;
    text-align: center;
}

p {
    margin-bottom: 10px;
}